<style>
    .form-custom {
        border: 2px solid dodgerblue;
    }

    .name-clr {
        color: #000080;
        font-size: 10px;
    }
</style>

<form action="" class="margin-set" method="post" id="idFrmSaveSertifikasi">
    <div class="row">
        <div class="col-lg-6">
            <label for="idSertifikasi" class="name-clr">Nama Sertifikasi*</label><br />
            <input type="text" name="certificate_name" class="form-control form-custom" id="idSertifikasi" placeholder="">
        </div>

        <div class="col-lg-6">
            <label for="idPenerbit" class="name-clr">Penerbit*</label><br />
            <input type="text" name="publisher" class="form-control form-custom" id="idPenerbit" placeholder="">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <label for="idBlnMulai" class="name-clr">Berlaku Mulai</label><br />
            <select type="text" name="valid_start_month" class="form-control form-custom" id="idBlnMulai" placeholder="-Pilih-">
                <option>-Pilih Bulan-</option>
                <option value="1">Jan</option>
                <option value="2">Feb</option>
                <option value="3">Mar</option>
                <option value="4">Apr</option>
                <option value="5">Mei</option>
                <option value="6">Jun</option>
                <option value="7">Jul</option>
                <option value="8">Ags</option>
                <option value="9">Sep</option>
                <option value="10">Okt</option>
                <option value="11">Nov</option>
                <option value="12">Des</option>
            </select>
        </div>

        <div class="col-lg-3">
            <label for="idThnMulai" class="name-clr"> &nbsp </label><br />
            <select type="text" name="valid_start_year" class="form-control form-custom" id="idThnMulai" placeholder="-Pilih-">
                <option>-Pilih Tahun-</option>
            </select>
        </div>

        <div class="col-lg-3">
            <label for="idBlnSelesai" class="name-clr">Berlaku Sampai</label><br />
            <select type="text" name="until_month" class="form-control form-custom" id="idBlnSelesai" placeholder="-Pilih-">
                <option>-Pilih Bulan-</option>
                <option value="1">Jan</option>
                <option value="2">Feb</option>
                <option value="3">Mar</option>
                <option value="4">Apr</option>
                <option value="5">Mei</option>
                <option value="6">Jun</option>
                <option value="7">Jul</option>
                <option value="8">Ags</option>
                <option value="9">Sep</option>
                <option value="10">Okt</option>
                <option value="11">Nov</option>
                <option value="12">Des</option>
            </select>
        </div>
        <div class="col-lg-3">
            <label for="idThnSelesai" class="name-clr"> &nbsp </label><br />
            <select type="text" name="until_year" class="form-control form-custom" id="idThnSelesai" placeholder="-Pilih-">
                <option>-Pilih Tahun-</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <label for="idCttn" class="name-clr">Catatan</label><br />
            <input class="form-control form-custom col-md-12" id="idCttn" name="notes" style="height:100px;"><br />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8"></div>
        <div class="col-lg-4 btn-group">
            <button type="button" class="btn btn-primary btn-lg" style="background-color: orangered;" id="idBtnBatal">&nbsp Batal &nbsp</button>
            <button type="button" class="btn btn-primary btn-lg" id="idBtnSimpan">Simpan</button>
        </div>
    </div>

</form>

<script>
    var d = new Date();
    var months = ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Agt', 'Sep', 'Okt', 'Nov', 'Des'];
    $(document).ready(function () {
        debugger;

//looping untuk mengeluarkan tahun awal
        var vOption = "";
        for (var i = d.getFullYear() ; i >= 1970; i--) {
            vOption = vOption +
            '<option>' + i + '</option>'
        }

        $('#idThnMulai').append(vOption);

//looping untuk mengeluarkan bulan tahun akhir
        $("#idThnMulai").click(function () {

            var vStartOpt = $('#idThnMulai').val();
            var vEndOption = "";
            for (var i = d.getFullYear() ; i >= vStartOpt; i--) {
                vEndOption = vEndOption +
                '<option>' + i + '</option>'
            }

            $('#idThnSelesai').empty();
            $('#idThnSelesai').append(vEndOption);
        });

//tombol simpan dan batal aksi

        $('#idBtnSimpan').click(function () {

            var vM1 = $('#idBlnMulai').val();
            var vM2 = $('#idBlnSelesai').val();
            var vT1 = $('#idThnMulai').val();
            var vT2 = $('#idThnSelesai').val();


            if (vT1 == vT2 && vM1 < vM2 || vT1 < vT2) {

            var vTmbh = $('#idFrmSaveSertifikasi').serialize();
            debugger;
            $.ajax({
                url: '/Sertifikasi/Save',
                data: vTmbh,
                method: 'Post',
                success: function (mdl) {
                    debugger;
                    if (mdl.Simpan == "Berhasil") {
                        debugger;
                        alert("Data berhasil disimpan");
                        //$('.modal').modal('hide');
                        //$.modal.close();
                        $('#idMdlTambahSertifikasi').close;
                        location.reload();
                        $('#myModal').modal('show');

                    }
                    else {
                        debugger;
                        alert("Data gagal disimpan");
                    }
                }
            });

            }
            else {
                alert("Bulan atau Tahun tidak sesuai")
            }
        });



        $('#idBtnBatal').click(function () {
            
            $('#idMdlTambahSertifikasi').modal('hide');
            $('#myModal').modal('show');
        });
    });

</script>



