
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <td>Nama</td>
                <td>Harga</td>
                <td>Aksi</td>
            </tr>
        </thead>
        <tbody id="idTblBodyBarang"></tbody>
    </table>
</div>
<script>

    $(document).ready(function () {

        var vStrHtml = '';

        $.ajax({
            url: '/Home/Tampil',
            method: 'Get',
            success: function (mdl) {
                debugger;
                $.each(mdl, function (i, d) { //menjahit data ke dalam tabel
                    vStrHtml = vStrHtml + '<tr>' +
                            '<td>' + d.biodata_id + '</td>' +
                            '<td>' + d.fullname + '</td>' +
                            '<td><button type = "button" class="btn btn-primary clBtnTambahBrang" dataBarang=\'' + JSON.stringify(d) + '\' > + </button></td>' +
                        '</tr>';

                });

                $('#idTblBodyBarang').append(vStrHtml); //memasukan data yg sudah di jahit ke dalam body
            }
            });
    });
</script>