 <style>
    .form-custom {
        border: 2px solid dodgerblue;
    }

    .name-clr {
        color: #000080;
        font-size: 10px;
    }
</style>

<form action="" class="margin-set" method="post" id="idFrmEditPendidikan">
    <div class="row">
        <div class="col-lg-6">
            <label for="idSklhInstansi" class="name-clr">Nama Sekolah/Instansi*</label><br />
            <input type="text" name="school_name" class="form-control form-custom" id="idSklhInstansiEdit" placeholder="">
            <input type="hidden" name="pendidikan_id" id="idget" /> @*untuk mengambil id dari data yang akan diedit*@
        </div>

        <div class="col-lg-3">
            <label for="idKota" class="name-clr">Kota</label><br />
            <input type="text" name="city" class="form-control form-custom" id="idKotaEdit" placeholder="">
        </div>

        <div class="col-lg-3">
            <label for="idNegara" class="name-clr">Negara</label><br />
            <input type="text" name="country" class="form-control form-custom" id="idNegaraEdit" placeholder="">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <label for="idJenjang" class="name-clr">Jenjang Pendidikan*</label><br />
            <select type="text" name="education_level_id" class="form-control form-custom" id="idJenjangEdit" placeholder="-Pilih-">
                <option>-Pilih-</option>
                <option value="1">SD</option>
                <option value="2">SMP</option>
                <option value="3">SMA</option>
                <option value="4">Sarjana</option>
            </select>
        </div>

        <div class="col-lg-3">
            <label for="idThnMasuk" class="name-clr">Tahun Masuk</label><br />
            <select type="text" name="entry_year" class="form-control form-custom" id="idThnMasukEdit" placeholder="-Pilih-">
                <option>-Pilih-</option>
            </select>
        </div>

        <div class="col-lg-3">
            <label for="idThnLulus" class="name-clr">Tahun Lulus</label><br />
            <select type="text" name="graduation_year" class="form-control form-custom" id="idThnLulusEdit" placeholder="-Pilih-">
                <option>-Pilih-</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <label for="idJurusan" class="name-clr">Jurusan</label><br />
            <input type="text" name="major" class="form-control form-custom" id="idJurusanEdit" placeholder="">
        </div>

        <div class="col-lg-6">
            <label for="idIPK" class="name-clr">IPK</label><br />
            <input type="text" name="gpa" class="form-control form-custom" id="idIPKEdit" placeholder="">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <label for="idCttn" class="name-clr">Catatan</label><br />
            <input class="form-control form-custom col-md-12" id="idCttnEdit" name="notes" style="height:100px;"><br />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12" align="right">
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-lg" style="background-color: orangered;" id="idBtnBatalEdit">&nbsp Batal &nbsp</button>
                <button type="button" class="btn btn-primary btn-lg" id="idBtnSimpanEdit">Simpan</button>
            </div>
        </div>
    </div>

</form>      



<script>
    $(document).ready(function () {

        debugger;
        var d = new Date();
        var vOption = "";
        for (var i = d.getFullYear() ; i >= 1970; i--) {
            vOption = vOption +
            '<option>' + i + '</option>'
        }
        $('#idThnLulusEdit').append(vOption);
        $('#idThnMasukEdit').append(vOption);


        $.ajax({
            url: '/RiwayatPendidikan/AmbilData',
            data: { ID: $('#idget').val() },
            method: 'Get',
            success: function (mdl) {
                debugger;
                $('#idSklhInstansiEdit').val(mdl.school_name);
                $('#idJenjangEdit').val(mdl.education_level_id).selected;
                $('#idKotaEdit').val(mdl.city);
                $('#idJurusanEdit').val(mdl.major);
                $('#idNegaraEdit').val(mdl.country);
                $('#idThnMasukEdit').val(mdl.entry_year).selected;
                $('#idThnLulusEdit').val(mdl.graduation_year).selected;
                $('#idIPKEdit').val(mdl.gpa);
                $('#idCttnEdit').val(mdl.notes); 

            },
            error: function (mdl) {
                debugger;
            }
        });

        $('#idBtnBatalEdit').click(function () {
            $('#idMdlEditPendidikan').close;
            location.reload();
        });

        $('#idBtnSimpanEdit').click(function () {
            debugger;
            var vDataEdit = $('#idFrmEditPendidikan').serialize();
            $.ajax({
                url: '/RiwayatPendidikan/EditSimpan',
                data: vDataEdit,
                method: 'Post',
                success: function (mdl) {
                    if (mdl.EditSimpan == "Berhasil") {
                        debugger;
                        alert("Data berhasil diEdit");
                        $('#idMdlEditPendidikan').close;
                        location.reload();
                        $('#myModal').modal('show');

                    }
                    else {
                        debugger;
                        alert("Data gagal diEdit");
                        $('#myModal').modal('show');
                    }
                }
            });
        });
    });
</script>
